<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Smart Brain</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/home/assets/css/main.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/home/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/home/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/home/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/home/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/home/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/home/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/home/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/home/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/home/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/home/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/home/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/home/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/home/images/favicon-16x16.png">
    <noscript><link rel="stylesheet" href="/home/assets/css/noscript.css" /></noscript>
</head>
<body class="no-sidebar is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="index.html" id="logo">Helios</a></h1>
            </header>
        </div>

        <!-- Nav -->
        <nav id="nav">
            {% block menu %}
            {% endblock %}
        </nav>

    </div>

    <!-- Main -->
    <div class="wrapper style1">

        <div class="container">
            {% block body %}
            {% endblock %}

        </div>

    </div>

    <!-- Footer -->
    <div id="footer">
            <div class="row">
                <div class="col-12">

                    <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>Nisl turpis nascetur interdum?</h3>
                        </header>
                        <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                        </ul>
                    </section>

                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Guilherme Lima. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<!-- Scripts -->
<script src="home/assets/js/jquery.min.js"></script>
<script src="home/assets/js/jquery.dropotron.min.js"></script>
<script src="home/assets/js/jquery.scrolly.min.js"></script>
<script src="home/assets/js/jquery.scrollex.min.js"></script>
<script src="home/assets/js/browser.min.js"></script>
<script src="home/assets/js/breakpoints.min.js"></script>
<script src="home/assets/js/util.js"></script>
<script src="home/assets/js/main.js"></script>

</body>
</html>
