<h1>Olá {{ name }}, tudo bem?</h1>

<p>Que bom ter você conosco, espero que nos ajude na divulgação de temas interessantes!</p>
<p>Sua conta foi criada em nosso blog e seus dados estão abaixo:</p>

<p>
    Usuário: <b>{{ username }}</b>
    <br>
    Senha: <b>{{ password }}</b>
</p>

<small>Email enviado em {{ "now"|date('d/m/Y H:i:s') }}</small>
